<div class="container text-white">
    
    
    
    <div class="text-center" >
        <h1 class="mt-3">{{name}}</h1>
    </div>
    <hr>


    <div class="row shadow " >
        <div class="col-md-8">

            <p class="rank bg-primary">Rank #{{rank}}</p>
            <br/>

            <div class="d-flex">
            <img class="mb-3" [src]="image" >

            <h2>{{name}}</h2>
            <span>({{symbol}})</span>
            </div>
        </div>

        <div class="col-md-4 text-white">
       
            <i class="fas fa-link"></i><a style="text-decoration: none;" href="{{homepage}}"> {{homepage| slice:7:30}}</a>
                
            <p class="price mt-5"> ${{price.toLocaleString()}}  US</p>
        </div>
        

    </div>



    <div class="row mt-5 shadow">
        <div class="col-md-6">
            <h4>Categories</h4>
            <div *ngFor="let cat of categories">
          
                <li *ngIf="cat!=null">{{cat}}</li>
            </div>
        </div>
        
        <div class="col-md-5" >
            <h3>Information</h3>
            <table class="table text-white" >
                <thead>
                    <tr>
                        <th>24h Low</th>
                        <th>24h High</th>
                        <th>Price change 1h</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>${{low_price.toLocaleString()}}  US$ </td>
                        <td> ${{high_price.toLocaleString()}}  US$</td>
                        <td>{{onehchange.toLocaleString()}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>   

    

        
    </div>


    <div class="col mt-5 shadow">
        <h3>About</h3>
        <hr>
        <p>{{description  | slice:0:1180}}.</p>
    </div>


</div>
